{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static '/img/wks-icon.ico' %}" type="image/x-icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% block css %}{% endblock %}

    <style type="text/css">
      {% block css_text %}{% endblock %}
    </style>

    <title>
        {% block title %}{% endblock %}
    </title>
  </head>
  <body>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><b>WH</b> Tournaments > <span class="gary">Orgonizer</span></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == "/tournaments/" %}active{% endif %}">
          <a class="nav-link" href="/tournaments/">Турниры <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == "/players/" %}active{% endif %}">
          <a class="nav-link" href="/players/">Игроки <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>

    <div id="main_container">
      <h1 class="content-title">
        {% block content_title %}{% endblock %}
      </h1>
      {% block content %}{% endblock %}
    </div>

    {% block sub_content %}{% endblock %}

    {% block javascript %}{% endblock %}
    {% block js %}{% endblock %}

  </body>
</html>
